.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}
.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -10px;
  height: 95vh;
  width: 95vw;
  box-shadow: 6px 10px 20px -6px rgba(0, 0, 0, 0.7);
}