.chat {
    flex: 0.70;
    display: flex;
    flex-direction: column;
}
.chat__header {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #2A2F32;
}
.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}
.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 21px;
}
.chat__headerInfo > p {
    color: gray;
    font-size: 13px;
    min-height: 20px;
    font-weight: 500;
}

.chat__message {
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    width: fit-content;
    background-color:#262D30;
    margin-bottom: 15px;
    height: 20px;
}
.chat__receiver {
    margin-left: auto;
    background-color:#056162;
    color: #fff;
}
.chat__timestamp {
    position: relative;
    top: 10px;
    margin-left: 10px;
    font-size: 11px;

}
.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.chat__headerRight > .MuiIconButton-root {
    color: gray;
}
.chat__body {
    flex: 1;
    background-image: url(./bg-chat-tile-dark.png);
    background-repeat: repeat;
    background-position: center;
    background-color: #090E11;
    padding: 30px;
    overflow-y: scroll;
}


.chat__body::-webkit-scrollbar {
    width: 7px;
}
.chat__body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.chat__body::-webkit-scrollbar-thumb {
  background-color: #384044;
  outline: 1px solid #131C21;
}


.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #1E2428;
}
.chat__footer > .MuiIconButton-root {
    color: gray;
    padding: 10px;
}
.chat__footer > form {
    flex:1;
    display: flex;
    border: none;
}
.chat__footer > form > input {
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: #323739;
    outline: none;
    font-family: 'Segoe UI';
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 500;
}
.chat__footer > form > input::placeholder {
    font-family: 'Segoe UI';
    font-size: 1em;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-left: 6px;
}
.chat__footer > form > button {
    display: none;
}
.chat__footer > .MuiSvgIcon-root {
    padding: 10px;

}