.sidebarChat {
    display: flex;
    padding: 15px;
    cursor: pointer;
}
a {
    text-decoration: none !important;
    color:white;

}
.sidebarChat:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidebarChat__info > h2 {
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 8px;
}
.sidebarChat__info {
    margin-left: 15px;
}
.sidebarChat__info > p {
    font-family: 'Segoe UI';
    font-size: 14px;
    color: gray;
}
hr {
    position: relative;
    width: 81%;
    margin-top: -1px;
    left: 70px;
    border: none;
    border-width: thin;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);

}